name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# From https://github.com/arcium-hq/setup-arcium
jobs:
  run-arcium-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: arcium-hq/setup-arcium@v0.3.0
        with:
          runner-arch-os: x86_64_linux
          # TODO: fix for outdated default Solaan CLI
          # Remove once https://github.com/arcium-hq/setup-arcium/pull/2 is merged
          solana-cli-version: 2.3.9
      
      - run: export PATH="$HOME/.local/share/solana/install/active_release/bin:$PATH" && solana --version

      - run: npm i

      - run: export PATH="$HOME/.local/share/solana/install/active_release/bin:$PATH" && bash run-tests.bash